# sheldon artifacts
sheldon/repos
sheldon/plugins.lock

# bundler
bundle/cache

# symlink to private files
local

# television generated cable channels
config/television/cable/

# doom generated customization file
doom.d/custom.el

# homebrew trust lock file
config/homebrew/trust.json.lock
