#############
# HTML TAGS #
#############

snippet header "HTML5 <header>"
<header>
    <h1>${1}</h1>
</header>
endsnippet

#############
# Shortcuts #
#############

snippet | "Pipe" i
&#124;
endsnippet

# vim:ft=snippets:
