# This file contains snippets that are always defined.

##########################
# LOREM IPSUM GENERATORS #
##########################
snippet // "// Divider"

// --------------------------------------------------------------------

endsnippet
# vim:ft=snippets:
