# From the TextMate bundle

snippet // "## Divider" b

## --------------------------------------------------------------------

endsnippet

snippet meth "Class method" b
${1:methodName}: (${2:args}) ->
  ${3:# body...}
$4
endsnippet

